.jiedanshu_bottom input{
  height: 1.8rem;
  border-radius: 7px;
  padding-left: 30px;
}
.jiedanshu_bottom span{
  top: 10px;
  left: 1.85rem;
}
.Lists{
  box-sizing: border-box;
  margin-bottom: 10px;
}
.padding17{
  padding-right: 1.7rem;
  padding-left: 1.7rem;
}
.touxiang{
  width: 2rem;
  vertical-align: middle;
}
.height36{
  height: 3rem;
  line-height: 3rem;
}
.perTopSpan{
  margin-top: 5px;
  padding: 2px 10px 2px 0px;
  background-color: #333;
  opacity: .5;
  border-radius: 10px;

}
.perTopSpan img {
  width: 15px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.dis_flex ul{
  flex: 9;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dis_flex div{
  right: 1.7rem;
  top: 35px;
}
.dis_flex div span{
 font-size: 2rem;
}
.dis_flex div img{
  width: 1.8rem;
  vertical-align: middle;
  margin-bottom: 3px;
}
.dis_flex ul li{
  line-height: 1.5rem;

}

.font12{
  font-size: 12px;
}

.jiedanshu_bottom{
  height: 2.6rem;
  line-height: 2.6rem;
}

.jiedanshu_contact{
  height: 1.6rem;
  line-height: 1.6rem;
  border: 1px solid #4bbcbd;
  color: #4bbcbd;
  border-radius: 10px;
  width: 4.7rem;
  margin-top: 0.5rem;
  margin-left: 5px;
}
/*取消*/
.mui-popover.mui-popover-action .mui-table-view {
  margin: 0;
  text-align: center;
  color: #999;
  border-radius: 0px;
}
.cancle_resuit{
  background-color: rgba(204, 204, 204, 1);
  height: 3rem;
  line-height: 3rem;
  color: #000;
}
.cancel_ul{
  padding-top: 20px;
}
.cancel_li{
  border: 1px solid #000;
  border-radius: 15px;
  width: 40%;
  display: inline-block;
  margin-bottom: 10px;
  height: 2.5rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #000;
}
.cancle_yes,.cancle_no{
  border: none;
  border-radius: 5px;
  width: 40%;
  display: inline-block;
  margin-bottom: 20px;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: #000;
}
.bgc_c0c0{
  background-color: #c0c0c0;
}

.mgGoodsList div{
  line-height: 1.4rem

}
.special{
  border: 1px solid #ea5529;
  color: #ea5529;
}
.cancel_ul a{
  display: inline-block;
  width: 100%;
}
