<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
  <div class="mui-scroll">
    <div class="mui-control-item mui-active text_center" (click)="orderStatus(null)">全部</div>
    <div class="mui-control-item text_center" (click)="orderDataForPay(1)">待付款</div>
    <div class="mui-control-item text_center" (click)="orderDataing(10)">进行中</div>
    <div class="mui-control-item text_center" (click)="orderFinish(30)">已完成</div>
  </div>
</div>
<div class="mui-scroll-wrapper" style="margin-top: 53px;">
  <div class="mui-scroll" id="infoMessage">
      <!--全部-->
     <div *ngIf="isAll==1">
         <div class="myGoods_content back_fff m-b10" (click)="sourceInfo(site?.orderNo)" *ngFor="let site of data">
             <div class="b-b pT_10">
                 <div class="col_333 fonSml pR_10 pL_10 fon900 m-b10">
                     <span>{{site?.receiveCity}}</span>
                     <div class="huwu_jian posi_relative">
                         <img src="../assets/images/jian.png" alt="" class="w100"/>
                     </div>
                     <span>{{site?.sendCity}}（{{site?.distance}}公里）</span>
                     <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==1">待付款</span>
                     <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==2">待接单</span>
                     <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==10">进行中</span>
                     <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==220">协商中</span>
                     <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==30">已完成</span>
                     <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==40">已取消</span>
                 </div>
                 <div class="pR_10 pL_10 m-b10 mgGoodsList">
                     <div>发货单位：{{site?.sendCompany}}</div>
                     <div>收货单位：{{site?.receiveCompany}}</div>
                     <div>货物名称：{{site?.goodsName}}</div>
                     <div>货物余量：<span class="ea5529">{{site?.goodsResidue.toFixed(2)}}</span>/{{site?.goodsAmount.toFixed(2) }}{{site?.goodsUnit}}</div>
                     <div>运费单价：{{site?.goodsPrice.toFixed(2)}}元/吨</div>
                     <div>截止日期：{{site?.endTime}}</div>
                     <div>最晚装货时间：{{site?.latestArrivalTime}}</div>
                 </div>
             </div>
             <div class="pR_10 pL_10 myGoods_bottom">
                 <span *ngIf="site.publishTime!='0分钟'">{{site?.publishTime}}</span>
                 <span *ngIf="site.publishTime=='0分钟'">刚刚</span>
                 <span class="myGoods_cancel pull-right text_center" (click)="Order(site?.orderNo);$event.stopPropagation();" *ngIf="site.orderStatus==10">接单查询</span>
                 <span class="myGoods_cancel pull-right text_center" (click)="Order(site?.orderNo);$event.stopPropagation();" *ngIf="site.orderStatus==30">接单查询</span>
                 <span class="myGoods_cancel pull-right text_center" (click)="Order(site?.orderNo);$event.stopPropagation();" *ngIf="site.orderStatus==5">接单查询</span>
                 <span class="myGoods_cancel pull-right text_center" (click)="activate(site.orderStatus,site.orderNo,site.goodsResidue);$event.stopPropagation();" *ngIf="site.orderStatus==1">取&nbsp;&nbsp;消</span>
                 <span class="myGoods_cancel pull-right text_center" (click)="PublicGoods(site?.orderNo);$event.stopPropagation();" *ngIf="site.orderStatus==1">发布货源</span>
             </div>
         </div>
         <div (click)="moreInfo()" class="moreInfo text_center fonSml" *ngIf="!isLoading">点击加载更多</div>
         <div (click)="moreInfo()" class="moreInfo text_center fonSml" *ngIf="isLoading">正在加载 <img src="../assets/images/loading.jpg" alt=""/></div>
     </div>
      <div *ngIf="isAll!=1">
          <!--待付款-->
          <div *ngIf="isDataForPay==1">
              <div class="myGoods_content back_fff m-b10" (click)="sourceInfo(site?.orderNo)" *ngFor="let site of dataForPay">
                  <div class="b-b pT_10">
                      <div class="col_333 fonSml pR_10 pL_10 fon900 m-b10">
                          <span>{{site?.receiveCity}}</span>
                          <div class="huwu_jian posi_relative">
                              <img src="../assets/images/jian.png" alt="" class="w100"/>
                          </div>
                          <span>{{site?.sendCity}}（{{site?.distance}}公里）</span>
                          <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==1">待付款</span>
                          </div>
                      <div class="pR_10 pL_10 m-b10 mgGoodsList">
                          <div>发货单位：{{site?.sendCompany}}</div>
                          <div>收货单位：{{site?.receiveCompany}}</div>
                          <div>货物名称：{{site?.goodsName}}</div>
                          <div>货物余量：<span class="ea5529">{{site?.goodsResidue.toFixed(2)}}</span>/{{site?.goodsAmount.toFixed(2) }}{{site?.goodsUnit}}</div>
                          <div>运费单价：{{site?.goodsPrice.toFixed(2)}}元/吨</div>
                          <div>截止日期：{{site?.endTime}}</div>
                          <div>最晚装货时间：{{site?.latestArrivalTime}}</div>
                      </div>
                  </div>
                  <div class="pR_10 pL_10 myGoods_bottom">
                      <span>{{site?.publishTime}}</span>
                      <span class="myGoods_cancel pull-right text_center" (click)="activate(site.orderStatus,site.orderNo,site.goodsResidue);$event.stopPropagation();" *ngIf="site.orderStatus==1">取&nbsp;&nbsp;消</span>
                      <span class="myGoods_cancel pull-right text_center" (click)="PublicGoods(site?.orderNo);$event.stopPropagation();" *ngIf="site.orderStatus==1">发布货源</span>
                  </div>
              </div>
              </div>
          <!--进行中-->
          <div *ngIf="isDataing==10">
              <div class="myGoods_content back_fff m-b10" (click)="sourceInfo(site?.orderNo)" *ngFor="let site of dataing">
                  <div class="b-b pT_10">
                      <div class="col_333 fonSml pR_10 pL_10 fon900 m-b10">
                          <span>{{site?.receiveCity}}</span>
                          <div class="huwu_jian posi_relative">
                              <img src="../assets/images/jian.png" alt="" class="w100"/>
                          </div>
                          <span>{{site?.sendCity}}（{{site?.distance}}公里）</span>
                         <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==10">进行中</span>
                      </div>
                      <div class="pR_10 pL_10 m-b10 mgGoodsList">
                          <div>发货单位：{{site?.sendCompany}}</div>
                          <div>收货单位：{{site?.receiveCompany}}</div>
                          <div>货物名称：{{site?.goodsName}}</div>
                          <div>货物余量：<span class="ea5529">{{site?.goodsResidue.toFixed(2)}}</span>/{{site?.goodsAmount.toFixed(2) }}{{site?.goodsUnit}}</div>
                          <div>运费单价：{{site?.goodsPrice.toFixed(2)}}元/吨</div>
                          <div>截止日期：{{site?.endTime}}</div>
                          <div>最晚装货时间：{{site?.latestArrivalTime}}</div>
                      </div>
                  </div>
                  <div class="pR_10 pL_10 myGoods_bottom">
                      <span>{{site?.publishTime}}</span>
                      <span class="myGoods_cancel pull-right text_center" (click)="Order(site?.orderNo);$event.stopPropagation();">接单查询</span>
                  </div>
              </div>
              </div>
          <!--已完成-->
          <div *ngIf="isDataFinish==30">
              <div class="myGoods_content back_fff m-b10" (click)="sourceInfo(site?.orderNo)" *ngFor="let site of dataFinish">
                  <div class="b-b pT_10">
                      <div class="col_333 fonSml pR_10 pL_10 fon900 m-b10">
                          <span>{{site?.receiveCity}}</span>
                          <div class="huwu_jian posi_relative">
                              <img src="../assets/images/jian.png" alt="" class="w100"/>
                          </div>
                          <span>{{site?.sendCity}}（{{site?.distance}}公里）</span>
                         <span class="ea5529 pull-right fonSml" *ngIf="site.orderStatus==30">已完成</span>
                      </div>
                      <div class="pR_10 pL_10 m-b10 mgGoodsList">
                          <div>发货单位：{{site?.sendCompany}}</div>
                          <div>收货单位：{{site?.receiveCompany}}</div>
                          <div>货物名称：{{site?.goodsName}}</div>
                          <div>货物余量：<span class="ea5529">{{site?.goodsResidue.toFixed(2)}}</span>/{{site?.goodsAmount.toFixed(2) }}{{site?.goodsUnit}}</div>
                          <div>运费单价：{{site?.goodsPrice.toFixed(2)}}元/吨</div>
                          <div>截止日期：{{site?.endTime}}</div>
                          <div>最晚装货时间：{{site?.latestArrivalTime}}</div>
                      </div>
                  </div>
                  <div class="pR_10 pL_10 myGoods_bottom">
                      <span>{{site?.publishTime}}</span>
                      <span class="myGoods_cancel pull-right text_center" (click)="Order(site?.orderNo);$event.stopPropagation();">接单查询</span>
                  </div>
              </div>
          </div>
          <div (click)="moreInfo()" class="moreInfo text_center fonSml" *ngIf="!isLoading">点击加载更多</div>
          <div (click)="moreInfo()" class="moreInfo text_center fonSml" *ngIf="isLoading">正在加载 <img src="../assets/images/loading.jpg" alt=""/></div>

      </div>
  </div>
    <div class="text_center" id="infoNone" style="margin-top: 3rem;">暂无该信息</div>
</div>

<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
    <!-- 可选择菜单 -->
    <div class="cancle_resuit text_center fonNormal">取消原因</div>
    <ul class="mui-table-view back_fff cancel_ul">
        <li class="mui-table-view-cell cancel_li" [class.special]="isSpecial0" (click)="myGoods_cancle0('isSpecial0')">信息填写错误</li>
        <li class="mui-table-view-cell cancel_li" [class.special]="isSpecial1" (click)="myGoods_cancle0('isSpecial1')">不想发货了</li>
        <li class="mui-table-view-cell cancel_li" [class.special]="isSpecial2" (click)="myGoods_cancle0('isSpecial2')">时间超时</li>
        <!--<li class="mui-table-view-cell cancel_li" [class.special]="isSpecial3" (click)="myGoods_cancle0('isSpecial3')">已经发完了</li>-->
        <li class="mui-table-view-cell cancel_li" [class.special]="isSpecial4" (click)="myGoods_cancle0('isSpecial4')">其他原因</li>
        <!--<li class="mui-table-view-cell cancel_li" [class.special]="isSpecial5" (click)="myGoods_cancle0('isSpecial5')">信息填写错误</li>-->
        <li class="cancle_yes bgc_ea5529">
            <a href="" class="sureCancle" (click)="goodsCancle()"><b>确定</b></a>
        </li>
        <li class="cancle_no bgc_c0c0">
            <a href="#sheet1"><b>取消</b></a>
        </li>
    </ul>
</div>

<!--<div id="contact_show" class="ceng_show clearfix col_333 fonSml posi_relative" *ngIf="isShow">-->
  <!--<ul>-->
    <!--<li>取消剩余货单</li>-->
    <!--<li>取消待装车货单</li>-->
    <!--<li>取消全部货单</li>-->
    <!--<li (click)="noCancel()">先不取消</li>-->
  <!--</ul>-->
  <!--<span class="posi_abslotu cancel_span col_333 mui-icon mui-icon-closeempty" (click)="noCancel()"></span>-->
<!--</div>-->
<!--<div id="contact_bg" class="bg" *ngIf="isShow"></div>-->