<div class="padding16 b-b m-b10 back_fff">
  <h3 class="height3 fonNormal col_333 b-b">收货信息</h3>
  <ul class="clearfix p_T10 p_b10">
    <li class="detail_li pull-left">发货人姓名：{{data?.sendName }}</li>
    <li class="detail_li pull-left">{{data?.sendPhone}} </li>
    <li class="detail_li">出发地：{{data?.sendProvince }}</li>
    <li class="detail_li">目的地：{{data?.receiveCity }}</li>
    <li class="detail_li">发货单位：{{data?.sendCompany }}</li>
    <li class="detail_li">收货单位：{{data?.receiveCompany }}</li>
    <li class="detail_li">货物名称：{{data?.goodsName }}</li>
    <li class="detail_li">货物价值：{{data?.goodsPrice }}</li>
    <li class="detail_li">装货时间：{{data?.loadTime }}</li>
  </ul>
</div>

<div class="padding16 b-b m-b10 back_fff">
  <h3 class="height3 fonNormal col_333 b-b">装货信息</h3>
  <ul class="clearfix p_T10 p_b10">
    <li class="detail_li pull-left">皮重：{{data?.sendTare }}/{{data?.goodsUnit  }}</li>
     <li class="detail_li pull-left">毛重: {{data?.sendRough }}/{{data?.goodsUnit  }}</li>
    <li class="detail_li pull-left">净重：{{data?.sendNet }}/{{data?.goodsUnit  }}</li>
  </ul>
</div>

<div class="padding16 b-b m-b10 back_fff">
  <h3 class="height3 fonNormal col_333 b-b">卸货信息</h3>
  <form class="" #myForm="ngForm">
    <ul class="input_ul clearfix">
      <li class="pull-left">皮重：<input type="text" ngModel name="pizhong"  (keyup.enter)="onKey1(values=myForm.value.pizhong)" (blur)="onKey1(values=myForm.value.pizhong)"/>&nbsp;吨&nbsp;</li>
      <li class="pull-left">&nbsp;毛重：<input type="text" ngModel name="maozhong"  (keyup.enter)="onKey2(values2=myForm.value.maozhong)" (blur)="onKey2(values2=myForm.value.maozhong)"/>&nbsp;吨</li>
      <li class="pull-left">净重：<input type="text" ngModel name="jingzhong"  value="{{values2-values}}"/>&nbsp;吨&nbsp;</li>
      <li class="pull-left">&nbsp;运费：<input type="text" ngModel name="yunfei" value="{{price}}" />&nbsp;元</li>
      <li class="pull-left">扣款：<a href="#" style="color:blue">添加</a></li>
    </ul>

  <div class="padding16 back_fff b-b" >
    <h3 class="fonNormal col_333 height3" >添加照片（选填）</h3>
    <div class="addImg p_b10 p_T10 fonSml m-b10"  style="background-color:#ccc;border-radius:.5rem">
        <label class="img" id="upload" for="file">最多可添加6张照片</label>
        <input type="file" id="file" value="" style="display:none"/></div>     
  </div>

<div class="remarks">
        <div class="remarks2">
        <span *ngFor="let img of imgList" [ngStyle]="{'background-image':'url(' + img + ')'}" ></span></div>
</div>

<div class="padding16 back_fff b-b" >
    <div type="submit" class="zhuangche_sure text_center bgc_ea5529 fff fonSml" (click)="ReceivedSuccess(myform)">确认</div>
      <div class="text_center" (click)="ExceptionHanding()">异常协商处理</div>
</div>

 </form>
<!--<div>{{myForm.value.pizhong | json}}</div>-->
<!--<p>{{values2-values}}</p>-->
</div>
<div class="padding16 b-b m-b10 back_fff" style="display:none">
  <h3 class="height3 fonNormal col_333 b-b">收货信息</h3>
  <ul class="clearfix p_T10 p_b10  b-b">
    <li class="detail_li pull-left">发货人姓名：</li>
    <li class="detail_li pull-left">15930302465</li>
    <li class="detail_li">出发地：</li>
    <li class="detail_li">目的地：</li>
    <li class="detail_li">发货单位：</li>
    <li class="detail_li">收货单位：</li>
    <li class="detail_li">货物名称：</li>
    <li class="detail_li">货物价值：</li>
    <li class="detail_li">装货时间：</li>
  </ul>
</div>
