<div class="height36 text_center ea5529 back_fff fonNormal b-b" *ngIf="data?.orderStatus==1">待发布</div>
<div class="height36 text_center ea5529 back_fff fonNormal b-b" *ngIf="data?.orderStatus==2">待接单</div>
<div class="height36 text_center ea5529 back_fff fonNormal b-b" *ngIf="data?.orderStatus==3">进行中</div>
<div class="height36 text_center ea5529 back_fff fonNormal b-b" *ngIf="data?.orderStatus==4">协商中</div>
<div class="height36 text_center ea5529 back_fff fonNormal b-b" *ngIf="data?.orderStatus==5">已完成</div>
<div class="height36 text_center ea5529 back_fff fonNormal b-b" *ngIf="data?.orderStatus==6">已取消</div>
<div class="goodsDetail b-b back_fff padding16 b-t m-t10 fonSml">
  <div class="height36">{{data?.sendCity}}&nbsp;&nbsp;<img src="../assets/images/jian.png" class="jian" alt=""/>&nbsp;&nbsp;{{data?.receiveCity}}&nbsp;&nbsp;&nbsp;（{{data?.distance}}公里）</div>
  <ul class="">
    <li>货物名称：{{data?.goodsName}}</li>
    <li>货物剩余量：<span class="ea5529">{{data?.goodsResidue}}</span>/{{data?.goodsAmount}}吨</li>
    <li>货物价值：{{data?.distance}}元</li>
    <li>运费单价：{{data?.freightPrice}}元</li>
    <li>截止日期：{{data?.endTime}}</li>
  </ul>
</div>
<div class="goodsDetail back_fff b-t m-t10">
  <div class="fonNormal col_333 height36 padding16  pL_10">发货信息</div>
  <ul class="efeff4 p_T10 padding16">
    <li class="fonSml col_333">发货人：{{data?.sendName}}<span class="pull-right">{{data?.sendPhone}}</span></li>
    <li class="fonSml">发货地址：{{data?.sendAddress}}</li>
  </ul>
  <img src="../assets/images/deliverGoods_bottom.png" alt="" class="w100 deliverGoods_bottom"/>
</div>

<div class="goodsDetail back_fff b-t m-t10">
  <div class="fonNormal col_333 height36 padding16  pL_10">收货信息</div>
  <ul class="efeff4 p_T10 padding16">
    <li class="fonSml col_333">收货人：{{data?.receiveName}}<span class="pull-right">{{data?.receivePhone}}</span></li>
    <li class="fonSml">收货地址：{{data?.receiveAddress}}</li>
  </ul>
  <img src="../assets/images/deliverGoods_bottom.png" alt="" class="w100 deliverGoods_bottom"/>
</div>
<div class="goodsDetail b-b back_fff padding16 b-t m-t10 p_T10">
  <ul class="fon85">
    <li>订单编号：{{data?.orderNo}}</li>
    <li>提交时间：{{data?.createTime}}</li>
    <li>交易单号：{{data?.tradeNo}}</li>
    <li>付费方式：马上来平台钱包</li>
  </ul>
</div>
<div class="p_T10 p_b10 clearfix back_fff m_top">
  <div class="details_btn fff text_center pull-right" *ngIf="data?.orderStatus==1">取消</div>
  <div class="details_btn fff text_center pull-right bgc_ea5529" (click)="Order(data.orderNo)">接单查询</div>
  <!--<div class="details_btn fff text_center pull-left bgc_ea5529">运费充值</div>-->
</div>

