

<nav aria-label="Page navigation" style="margin:0;padding:0;margin-top:-27px;"> <span>&nbsp;共计{{totalNum}}条</span>
  <ul class="pagination">
   
    <li  *ngIf="isShowPrev"><a (click)="firstPage()" href="javascript:;">首页</a></li>
    <li *ngIf="isShowPrev"><a (click)="prev()" href="javascript:;">上一页</a></li>
    <li *ngFor="let i of arrPage">
      <a (click)="selectPage(i)" [class.active]="i == currentPage" href="javascript:;">{{i}}</a>
    </li>
    <li *ngIf="isShowNext"><a (click)="next()" href="javascript:;">下一页</a></li>
    <li *ngIf="isShowNext"><a (click)="endPage()" href="javascript:;">末页</a></li>
    <li>&nbsp;<input [formControl]="pageInput" style="width:30px;margin-top:1%">
    <button (click)="goPage()" class="btn btn-info btn-xs" >跳转</button></li>
  </ul>
</nav>
