
<div class="back_fff b-b m-b10 b-t" *ngFor="let user of data">
  <ul class="p_T10 p_b10 padding_17 b-b">
    <li class="fon900 col_333">{{isReceive}}货人：{{user?.name}} <span class="pull-right">{{user?.phone}} </span></li>
    <li>{{isReceive}}货单位：{{user?.company}}</li>
    <li>{{isReceive}}货地址：{{user?.province}}{{user?.city}}{{user?.county}}</li>
  </ul>
  <div class="receiveAddress fon900 col_333 padding_17">
    <div class="mui-input-row mui-radio mui-left">
      <label>设置默认地址</label>
      <input name="radio1" type="radio" [checked]="user?.def==1" (click)="checkTrue(user?.id)">
    </div>
    <div class="pull-right"><span (click)="EditReceive(user?.id)">编辑</span>&nbsp;&nbsp;&nbsp;&nbsp;<span (click)="deleteAddress(user?.id)">删除</span></div></div>

</div>

<div class="fonNormal height_3 b-b b-t padding_17 back_fff" (click)="addAddress()"><span class="mui-icon mui-icon-plusempty fon900"></span>&nbsp;&nbsp;添加新信息</div>

<app-showCeng [message]="message" (outer)="cengShow($event)" *ngIf="showTrue"></app-showCeng>
