<div class="height36 b-b col_333 fonSml back_fff padding_left16">需支付违约金：<span class="ea5529">50</span>元</div>
<div class="m-t10 padding_left16 back_fff padding_right16 col_333">
  <div class="fonSml b-b height36">选择取消原因</div>
  <div>
    <ul class="mui-table-view back_fff cancel_ul">
      <li class="mui-table-view-cell cancel_li">信息填写错误</li>
      <li class="mui-table-view-cell cancel_li">信息填写错误</li>
      <li class="mui-table-view-cell cancel_li">信息填写错误</li>
      <li class="mui-table-view-cell cancel_li">信息填写错误</li>
      <li class="mui-table-view-cell cancel_li">信息填写错误</li>
      <li class="mui-table-view-cell cancel_li">信息填写错误</li>
    </ul>
  </div>
</div>

<div class="m-t10 back_fff padding_left16 p_T10 p_b10 padding_right16">
  <h3 class="col_333 fonSml">温馨提示</h3>
  <p class="fon85 cancel_p m-t10">由于您已超过规定取消订单的时间，如确认取消，需支付货主部分违约金，扣除金额将从您的支付的保证金中扣除。如保证金有剩余退回到您的钱包中。</p>
</div>
<div class="bindFinish text_center fff fonSml" (click)="sureCancel()">确认取消订单</div>
