<div class="box">
    <div class="mui-scroll-wrapper">
        <div class="height36 text_center bgc_ea5529 fff fonBig posi_relative">{{market_title}}<img src="../assets/images/saoyisao.png" alt="" class="posi_abslotu posi_right transformY50" style="width: 28px;" (click)="scan()" /></div>
        <div class="mui-scroll">
    <div class="box2" *ngFor="let info of infos" >
        <div class="box3">
            <div class="box3_top">
                <span class="a"><img class="headImg" src={{info?.headImg}} onerror='this.src="../assets/images/myDriver.png"'/></span>
                <span>{{info?.driverName}}</span>
                <div class="button"><nav></nav></div>
                <div class="bu">
                    <span class="pull-right f7931e" *ngIf="site.orderStatus==2">待装车</span>
                    <span class="pull-right f7931e" *ngIf="site.orderStatus==10">运输中</span>
                    <span class="pull-right f7931e" *ngIf="site.orderStatus==30">已完成</span>
                </div>
            </div>
        <div class="left">
            <span>车牌号：{{info?.truckNo}}</span>
            <span>载重：{{info?.truckLoad.toFixed(2)}}吨</span>
            <span>车型：{{info?.truckModel}}</span>
        </div>
        <div class="right"> 
            <span style="float: left;width: 75%;background: url('../assets/images/myGoodsTel.png')no-repeat right;background-size: 1.2rem;padding-left: 5px;"  (click)="call()">{{info?.driverPhone}}</span>
            <img style="float: right;margin-top: 10px" (click)="goodsDetails(info.childNo)" src="../assets/images/gd.png" width="15px"height="15px"/>
        </div>
        </div>
    <div class="bottom">
    <!--<span>{{info?.createTime}}</span>-->
    <input type="button" class="buttons"  value="轨迹查询" *ngIf="site.orderStatus==10" (click)="maps(info?.childNo)"/>
    <input type="button" class="buttons" *ngIf="site.status==54"  (click)="skip(info?.childNo)" value="确认收货"/>
        </div>
        </div>
    <div (click)="moreInfo()" class="moreInfo text_center fonSml" *ngIf="!isLoading">点击加载更多</div>
    <div (click)="moreInfo()" class="moreInfo text_center fonSml" *ngIf="isLoading"><img src="../assets/images/loading.jpg" alt=""/></div>

    </div>
    </div>
