<form (ngSubmit)="submitForm()" #Form="ngForm" name="submitForm" role="form">
  <div class="posi_relative">
    <input class="border_top input_org" type="{{imgWatch_img1.ImgType}}" name="oldPwd1" [(ngModel)]="oldPwd" #oldPwd1="ngModel" maxlength="12" placeholder="请输入原登录密码"/>
    <span class="mui-icon mui-icon-closeempty posi_abslotu transformY50 pos_right0 pos_right1r" *ngIf="oldPwd" (click)="ValueNone('oldPwd')"></span>
    <img src="{{imgWatch_img1.imgSrc}}" alt="" class="posi_abslotu posi_right transformY50" style="width: 24px;" (click)="changeImg_img1()"/>
  </div>
  <div class="posi_relative">
    <input type="{{imgWatch_img2.ImgType}}" class="input_org" name="reNewPwd1" [(ngModel)]="reNewPwd" #reNewPwd1="ngModel" maxlength="12" placeholder="请输入6-12位数字或字母密码" />
    <span class="mui-icon mui-icon-closeempty posi_abslotu transformY50 pos_right0 pos_right1r" *ngIf="reNewPwd" (click)="ValueNone('reNewPwd')"></span>
    <img src="{{imgWatch_img2.imgSrc}}" alt="" class="posi_abslotu posi_right transformY50" style="width: 24px;" (click)="changeImg_img2()"/>
  </div>
  <div class="posi_relative">
    <input type="{{imgWatch_imgRePwd.ImgType}}" class="input_org" name="newPwd1" [(ngModel)]="newPwd" #newPwd1="ngModel" maxlength="12" placeholder="确定新密码" />
    <span class="mui-icon mui-icon-closeempty posi_abslotu transformY50 pos_right0 pos_right1r" *ngIf="newPwd" (click)="ValueNone('newPwd')"></span>
    <img src="{{imgWatch_imgRePwd.imgSrc}}" alt="" class="posi_abslotu posi_right transformY50" style="width: 24px;" (click)="changeImg_RePwd()"/>
  </div>
  <div class="m0_auto" style="width: 80%;">
    <input type="submit" class="bindFinish text_center fff fonSml fon900" id="submit"/>
   </div>
</form>
