<div class="box">



  <div class="box2">
    <span (click)='remove()'>取消</span>
    <span (click)='submitForm(phone.value,name.value,company.value,detailAddress.value)'>保存</span>
  </div>
  <div class="map">
    <ul>
      <li><a>*</a>联系电话：<input id='phone' #phone /></li>
      <li><a>*</a>发货人：<input id='name' #name /></li>
      <li><a>*</a>发货单位：<input id='company' #company /></li>
      <li><a>*</a>所在地区：<select open id='subDistricts'></select></li>
      <li style="width:40%" ><a>*</a>地址：<input style="width:70%" id="address" #address disabled='disabled'  /></li>
      <li><a>*</a>详细地址：<input id='detailAddress' #detailAddress placeholder="例：门牌号" /></li>
    </ul>

  </div>
  <div id="container" class="map" tabindex="0" style="height:70%"></div>

</div>
