<div class="padding16 b-b m-b10 back_fff">
  
    <h6 class="height3 fonNormal col_333 b-b ">车辆信息</h6>
  <ul class="clearfix p_T10 p_b10">
    <li class="detail_li pull-left">司机姓名：{{data?.driverName}}</li>
    <li class="detail_li pull-left">{{data?.driverPhone}}</li>
    <li class="detail_li pull-left">品牌：{{data?.truckBrand}}</li>
    <li class="detail_li pull-left">车牌号：{{data?.truckNo}}</li>
    <li class="detail_li pull-left">载重：{{data?.goodsResidue}}{{data?.goodsUnit}}</li>
    <li class="detail_li pull-left">车型：{{data?.truckModel}}</li>
  </ul>
</div>
<div class="padding16 b-b m-b10 back_fff">
  <h6 class="height3 fonNormal col_333 b-b ">货单信息</h6>
  <ul class="clearfix p_T10 p_b10 b-b">
    <li>{{data?.sendCity}}<img src="../assets/images/jian.png" id="imgs"/>{{data?.receiveCity}} （{{data?.distance}}公里）</li>
    <li class="detail_li pull-left">货物名称：{{data?.goodsName}}</li>
    <li class="detail_li pull-left">货物数量：{{data?.goodsAmount}}{{data?.goodsUnit}}</li>
    <li class="detail_li pull-left">货物运费：{{data?.freightPrice}}元/{{data?.goodsUnit}}</li>
    <li class="detail_li pull-left">剩余数量：{{data?.goodsResidue}}{{data?.goodsUnit}}</li>
    <li class="detail_li pull-left">截止日期：{{data?.payTime}}</li>
    <li class="detail_li pull-left">货物价值：{{data?.goodsPrice}}</li>
  </ul>
</div>

<div class="padding16 b-b m-b10 back_fff">
  <h6 class="height3 fonNormal col_333 ">发货信息：</h6>
 <ul>
   <li>发货人：{{data?.sendName}}  {{data?.sendPhone}} </li>
   <li>发货单位：{{data?.sendCompany}}</li>
   <li>发货地址：{{data?.sendAddress}}</li>     
   <!--<li><img src={{data?.headImg}}></li>     -->
 </ul>
</div>

<div class="padding16 b-b m-b10 back_fff">
  <h6 class="height3 fonNormal col_333 ">收货信息：</h6>
 <ul>
   <li>收货人：{{data?.receiveName}}     {{data?.receivePhone}}</li>
   <li>收货单位：{{data?.receiveCompany}}</li>
   <li>收货地址：{{data?.receiveAddress}}</li>          
 </ul>
</div>
<div >
  <div class="button_refuse button_refuse" [style.display] = "isSpecial ? 'block': 'none'" (click)="refuseZhuangche()">拒绝装车</div>
  <div class="button_refuse left50" (click)="ZhuangCheInfo()">确认信息</div>
</div>

