.padding16{
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.height3{
  height: 3rem;
  line-height: 3rem;
}
.detail_li{
  width: 50%;

}
.button_refuse{
  width: 25%;
  height: 2rem;
  background: #ea5529;
  border-radius: 5px;
  text-align: center;
  line-height: 2rem;
  color: #fff;
  position: fixed;
  bottom: 20px;
  left: 20%;
}
.left50{
  left: 50%;
}
.imgs{
 width:2rem;
}