<div class="input_org talkTop text_center fff fonSml">意见反馈
<span class="posi_abslotu pos_right0 transformY50 right17" (click)="WacthOptionMind()">查看记录</span>
</div>
<div class="height_3 w100 talkPhone col_333 fonSml padding_17">手机号码:{{phone}}</div>

<div class="talkHome">
    <div *ngFor="let site of data">
        <!--<div class="clearfix"  *ngIf="site.type!=1">-->
            <!--&lt;!&ndash;我们&ndash;&gt;-->
            <!--<div class="talkMind posi_relative pull-left">-->
                <!--<div class="m-t10">{{site?.createTime}}</div>-->
                <!--<img src="../assets/images/receive_Touxiang.png" class="touxiang posi_abslotu transformY50 pos_left0" alt=""/>-->
                <!--<p class="back_fff col_333">{{site?.content}}</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="clearfix">
            <!--货主-->
            <div class="talkGoods pull-right posi_relative">
                <div *ngIf="site.type==1">
                    <div class="m-t10">{{site?.createTime}}</div>
                    <p class="back_fff col_333">{{site?.content}}</p>
                </div>
                <div class="contentImg pull-right" *ngIf="site.type==2">
                    <div class="m-t10">{{site?.createTime}}</div>
                    <img src="{{site.content}}" class="w100" alt=""/>
                </div>
                <img src="{{headImg}}" class="touxiang posi_abslotu transformY50 pos_right0" alt=""/>
            </div>
        </div>
    </div>
</div>
<div class="talkBottom w100 b-t back_fff">
    <div class="upload text_center">
        <span class="mui-icon mui-icon-plus m-r10 m-l10"></span>
        <input type="file" id="handChoose" accept="image/*" multiple>
    </div>
    <input type="text" [(ngModel)]="inputValue" (keyup)="isEmpty()" style="padding-left: 30px;"/>
    <span class="m-r10 fonSml {{col6bde42}}" (click)="faSong()">发送</span>
</div>
