<form (ngSubmit)="submitForm()" #Form="ngForm" name="submitForm" role="form">
  <div class="posi_relative">
    <input class="border_top input_org" type="{{imgWatch_img1.ImgType}}" name="oldPwd1" [(ngModel)]="oldPwd" #oldPwd1="ngModel" minlength="6" maxlength="12" pattern="^[a-zA-Z0-9_\.]+$" required placeholder="请输入原登录密码"/>
    <img src="{{imgWatch_img1.imgSrc}}" alt="" class="posi_abslotu posi_right transformY50" style="width: 24px;" (click)="changeImg_img1()"/>
  </div>
  <div class="posi_relative">
    <input type="{{imgWatch_img2.ImgType}}" class="input_org" name="reNewPwd1" required [(ngModel)]="reNewPwd" #reNewPwd1="ngModel" minlength="6" maxlength="12" pattern="^[a-zA-Z0-9_\.]+$" placeholder="请输入6-12位数字或字母密码" />
    <img src="{{imgWatch_img2.imgSrc}}" alt="" class="posi_abslotu posi_right transformY50" style="width: 24px;" (click)="changeImg_img2()"/>
  </div>
  <div class="posi_relative">
    <input type="{{imgWatch_imgRePwd.ImgType}}" class="input_org" name="newPwd1" [(ngModel)]="newPwd" #newPwd1="ngModel" required minlength="6" maxlength="12" pattern="^[a-zA-Z0-9_\.]+$" placeholder="确定新密码" />
    <img src="{{imgWatch_imgRePwd.imgSrc}}" alt="" class="posi_abslotu posi_right transformY50" style="width: 24px;" (click)="changeImg_RePwd()"/>
  </div>
  <div class="m0_auto" style="width: 80%;">
    <input type="submit" class="bindFinish text_center fff fonSml fon900" id="submit" value="完&nbsp;&nbsp;&nbsp;成" [disabled]="!Form.form.valid"/>
   </div>
</form>
