
.bgc_main_lab{
    position: fixed;
    bottom:0px;
    /*background: url("/assets/images/main_lab.png") no-repeat center;*/
    /*background-size: 120%;*/
    z-index: 900;
    box-shadow: 0px 0px 15px #999;
}
.z_index100{
    z-index: 100;
}
.market_nav{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 8px;

}
.market_nav_img{
    height: 1.5rem;
}
.deliver_btn{
    top: -1.7rem;
    width: 4rem;
}

.cir_half{
    height: 5rem;
    width: 5rem;
    box-shadow: 0px 0px 15px #999;
    border-radius: 50%;
    position: fixed;
    bottom:1.5rem;
    z-index: 400;
    left: 50%;
}

.changeFont{
    transform: scale(1.1,1.1);
    color: #000011;
}