<!--去认证  正常-->
<ul class="fonNormal back_fff col_333 p_b100" *ngIf="data?.authed==1">
  <li class="clearfix" (click)="ChangeheadImg()"><span class="m_t10">头像</span><span class="pull-right"><img src="../assets/images/receive_Touxiang.png" alt="" class="perCenterImg"/>&nbsp;&nbsp;&nbsp;></span></li>
  <li>姓名 <span class="pull-right" (click)="toCertifi()">{{data?.mobile}}&nbsp;&nbsp;&nbsp;></span></li>
  <li>性别 <span class="pull-right" (click)="toCertifi()">></span></li>
  <li>登录账号<span class="pull-right" (click)="changePhone()">{{data?.mobile}}&nbsp;&nbsp;&nbsp;></span></li>
  <li><img src="../assets/images/shimingRenzheng.png" alt="" class="shimingRenzheng"/>实名认证<span class="pull-right" (click)="goCertifi()"><span class="f89c3a">去认证</span>&nbsp;&nbsp;&nbsp;></span></li>
</ul>
<!--已认证  禁用-->
<ul class="fonNormal back_fff col_333 p_b100" *ngIf="data?.authed!==1">
  <!--*ngIf="data?.status==0"-->
  <li class="clearfix" (click)="ChangeheadImg()"><span class="m_t10">头像</span><span class="pull-right"><img src="../assets/images/receive_Touxiang.png" alt="" class="perCenterImg"/>&nbsp;&nbsp;&nbsp;></span></li>
  <li>姓名 <span class="pull-right col_a9">{{data?.name}}&nbsp;&nbsp;&nbsp;></span></li>
  <li>性别 <span class="pull-right col_a9">{{data?.sex}}&nbsp;&nbsp;&nbsp;></span></li>
  <li>登录账号<span class="pull-right" (click)="changePhone()">{{data?.mobile}}&nbsp;&nbsp;&nbsp;></span></li>
  <li><img src="../assets/images/shimingRenzheng.png" alt="" class="shimingRenzheng"/>实名认证<span class="pull-right" (click)="FinishCertif()"><span class="lv">已认证</span>&nbsp;&nbsp;&nbsp;></span></li>
</ul>
