




<div class="padding16 b-b m-b10 back_fff">
 
  <div class="box3_top">
                    <span class="a"></span>
                    <span>威廉</span>
                    <div class="button"></div>
                </div>
</div>
<div class=" padding16 b-b m-b10 back_fff  text_center ">
 
  <span>———————————&nbsp;已支付&nbsp;———————————</span><br/>
  <span style="color:red;font-size:18px">1000.00元</span><br/>
  <a href="" style="color:blue">查看明细</a>

</div>
<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
  <div class="mui-scroll">
    <div class="mui-control-item mui-active text_center">好评</div>
    <div class="mui-control-item text_center" >差评</div>
    <div class="mui-control-item text_center" >有话说</div>
  </div>
</div>
 <div class="m0_auto text_center m30">
    <div class="Success bgc_ea5529 fff" (click)="successGoods()">提交评价</div>
   </div>