<form (ngSubmit)="submitForm()" #Form="ngForm" name="submitForm" role="form">
  <input (keyup)="checkMobile()" class="input_org" required type="tel" name="phone" placeholder="请输入员工手机号" [(ngModel)]="ownerStaffDTO.phone" #phone="ngModel" minlength="11" maxlength="11" pattern="^1[3|5|6|7|8]{1}[0-9]{9}$"/>
  <input class="input_org" value="" [(ngModel)]="ownerStaffDTO.name" #name="ngModel" name="name"  placeholder="员工真实姓名" required readOnly="true"/>

  <div class="m0_auto" style="width: 80%;">
    <input type="submit" class="bindFinish text_center fff fonSml fon900" id="submit" value="确认添加" [disabled]="!Form.form.valid||isSubmit"/>
  </div>
</form>
