<div class="back_fff">
  <div class="text_center fff personTop">
    <img src="../assets/images/receive_Touxiang.png" alt="" class="perCenterImg" (click)="personalInfo()"/>
    <span class="fonNormal" (click)="personalInfo()">{{data?.name}}</span>
    <div class="text_center">
      <div class="perTopSpan fon85">&nbsp;<img src="../assets/images/jifen.png" alt=""/>&nbsp;&nbsp;积分&nbsp;|&nbsp;100&nbsp;&nbsp;</div>
    </div>
  </div>
</div>
<ul class="fonNormal back_fff col_333 p_b100">
  <li (click)="yewutongji()"><img src="../assets/images/yewutongji.png" alt=""/>业务统计 <span class="pull-right">></span></li>
  <li (click)="huwumingxi()"><img src="../assets/images/wuhuomingxi.png" alt=""/>货物明细 <span class="pull-right">></span></li>
  <li (click)="receiveHistory()"><img src="../assets/images/shouhuolishi.png" alt=""/>收货历史 <span class="pull-right">></span></li>
  <li (click)="wallet()"><img src="../assets/images/wodeqiangbao.png" alt=""/>我的钱包 <span class="pull-right">></span></li>
  <li (click)="Management()"><img src="../assets/images/yuangongguanli.png" alt=""/>员工管理 <span class="pull-right">></span></li>
  <li (click)="MyMessage()"><img src="../assets/images/wodexiaoxi.png" alt=""/>我的消息 <span class="pull-right">></span></li>
  <li (click)="AddressManage()"><img src="../assets/images/dizhiguanli.png" alt=""/>地址管理 <span class="pull-right">></span></li>
  <li><img src="../assets/images/kefuzhongxin.png" alt=""/>客服中心 <span class="pull-right">></span></li>
  <li (click)="Setting()"><img src="../assets/images/zhezhi.png" alt=""/>设置 <span class="pull-right">></span></li>
  <li (click)="OptionMind()"><img src="../assets/images/yijianfankui.png" alt=""/>意见反馈</li>
</ul>

