.box2{

  height: 3rem;
  background: #ea5529;
  overflow: hidden;
}

.box2 input{
  width: 70%;
  border:0;
  /*margin-left: 4.5rem;*/
  /*float: left;*/
}
/*.box2 span{*/

  /*line-height: 3rem;*/
  /*color: #fff;*/
/*}*/
.box3{
  width: 80%;
  height: 3rem;
  /*float: left;*/
  display: inline-block;
  background: #fff;
  margin-top: 0.5rem;
}
.box .map{
  height: 16rem;
  background: #fff;
}

.box2 .panel{
  width: 30%;
  height: 1.5rem;
  /*position: absolute;*/
  background-color: #fff;
  /*border: solid 1px silver;
  box-shadow: 3px 4px 3px 0px silver;*/
  left: 0px;
  top: 2px;
  /*padding: 5px 10px;*/
  font-size: 0.75rem;
  border-radius: 4px;
  float: left;
}
