<div class="box">
  <div class="box2">
      <div class="box3">
          <div class = 'panel'><select open id = 'subDistricts'></select></div>
          <input type="text" name="" (keyup)='search()' id="keyword" onfocus='this.value=""' placeholder="请输入地址">
      </div>
      <div style="float: right;color: #fff;line-height: 3rem;padding-right: 1.6rem;">取消</div>
  </div>
    <input type="text" name="" id="myvalue" placeholder="请输入地址">
  <div class="map"id="container"></div>

  <div id="tip"></div>



</div>
