<div class="myGoods_content back_fff m-b10 ">
    <div class="height3 fonSml fon900 col_333 b-b pL_10">货物详情</div>
    <div class="b-b">
        <div class="m-t10"></div>
        <div class="pR_10 pL_10 m-b10 mgGoodsList">
            <div>出发地：峰峰煤矿太原区</div>
            <div>目的地：峰峰煤矿太原区</div>
            <div>货物名称：煤炭</div>
            <div>货物数量：<span class="ea5529">20</span>/100吨</div>
            <div>运费单价：1000.00元</div>
            <div>到达货源地时间：2013-12-12</div>
            <div>装货时间：2016-12-14</div>
            <div>卸货时间：2016-12-14</div>
        </div>
    </div>
</div>

<div class="receipt padding16 back_fff b-t">
    <div class="height3 fonSml fon900 col_333 b-b pL_10">运费明细</div>
    <div class="re_b  pL_10 pR_10">
        <div class="re_r">
            <nav>车牌号：京A123456 <span style="float:right">-2000.00元</span></nav>
            <nav>车型：高栏 <span style="float:right">-2000.00元</span></nav>
            
        </div>
    </div>
</div>

<div class="goodsDetail b-b back_fff padding16 b-t m-t10 p_T10 p_b10">
        <div class="height3 fonSml fon900 col_333 b-b pL_10">扣费明细</div>
    <ul class="fon85 pL_10 pR_10">
        <li>数量不符<span style="float:right">-2000.00</span></li>
        <li>货物损坏<span style="float:right">200.00</span></li>
        <li>扣款说明：这个东西有严重的质量问题</li>
        <li><img src="" alt="图片还不存在">&nbsp;<img src="" alt="图片还不存在"></li>
    </ul>
</div>