<div class="system">
  <div class="system_time text_center">10:28</div>
  <div class="systemUpdate text_left back_fff" (click)="DetailsInfo()">
    <div class="b-b fonSml col_333">货单1</div>
    <div class="">查看更多<span class="mui-icon mui-icon-arrowright pull-right m-t10"></span></div>
  </div>
</div>
<div class="system">
  <div class="system_time text_center">2016-12-12&nbsp;&nbsp;&nbsp;10:28</div>
  <div class="systemUpdate text_left back_fff" (click)="DetailsInfo()">
    <div class="b-b fonSml col_333">货单2</div>
    <div class="">查看更多<span class="mui-icon mui-icon-arrowright pull-right m-t10"></span></div>
  </div>
</div>

