<div class="box">
    <div class="box2">
        <div class="box3">
            <div class="bank">
                <span class="bank_h"><img src="../../assets/images/bank.png" alt=""/></span>
                <span>农业银行</span>
                <span>（11111111******0123）</span>
                <span (click)="bank()">></span>
            </div>

        </div>
        <label>&nbsp;&nbsp;金额（￥）<input style="width: 50%;height: 2.5rem;border: none;font-size: 0.75rem" type="text" value="请输入充值金额" /></label>
        <!--onfocus="if(value=='请输入充值金额') {value=''}" onblur="if (value=='') {value='请输入充值金额'}"-->
    </div>
    <input id="input" type="button" value="确认" />
    <!--(click)="SuccessChild()"-->
</div>