.system{
  padding:0 10px;
}
.systemUpdate{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0px 10px;
}
.system_time{
  line-height: 2rem;
}
.systemUpdate div{
  line-height: 2.8rem;
  padding-left: 10px;
  padding-right: 10px;
}

.text_left{
  text-align: left;
}
