<div class="systemInfo b-b back_fff">
  <div class="systemImg posi_relative">
    <img src="../assets/images/systemInfo.png" class="systemImg_first" alt=""/>
    <img src="../assets/images/red_point.png" alt="" class="systemImg_2 posi_abslotu"/>
  </div>
  <div class="systemTitle pL_10" (click)="SystemInfo()">
    <p class="fonSml col_333">系统消息</p>
    <p class="fon85">版本更新，点击更新最新版本</p>
  </div>
</div>
<div class="huodanInfo b-b back_fff">
  <div class="huodanImg posi_relative">
    <img src="../assets/images/huodaninfo.png" class="huodanImg_first" alt=""/>
    <img src="../assets/images/red_point.png" alt="" class="huodanImg_2 posi_abslotu"/>
  </div>
  <div class="huodanTitle pL_10" (click)="HuodanInfo()">
    <p class="fonSml col_333">货单消息</p>
    <p class="fon85">车牌号：京A111已接单，快去查看一下吧</p>
  </div>
</div>
