<form (ngSubmit)="submitForm()" #Form="ngForm" name="submitForm" role="form">
  <div class="changePhone fonNormal col_333">当前绑定手机号码：{{change.mobile}}</div>

  <div class="posi_relative">
    <input class="input_org" type="tel" name="captcha" placeholder="请输入验证码" required [(ngModel)]="change.captcha" #captcha="ngModel" maxlength="4"/>
    <div class="posi_abslotu ea5529 posi_right transformY50 fonSml" (click)="changCaptcha()"><span class="clo_ccc m-r16">|</span>{{yzm}}</div>
  </div>
  <div class="m0_auto" style="width: 80%;">
    <input type="submit" class="bindFinish text_center fff fonSml fon900" id="submit" value="下一步"/>
  </div>
</form>
