.box{
    background: #efeff4;
}
.box .box2{
    height: 13rem;
    margin-bottom: 10px;
    background: #fff;
    border-bottom: 1px solid #CCCCCC;
}
.box .box2 .box3{
    width: 87%;
    height: 9rem;
    overflow: hidden;
    margin: 0 auto;

}
.box3 .box3_top{
    height: 3.2rem;
    margin-top: 10px;


}
.box3 .box3_top .a{
    margin-top: 5px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: url("/assets/images/receive_Touxiang.png")left;
    float: left;
}
.box3 .box3_top span{
   margin-left: 10px;
    line-height: 50px;
    float: left;
    color: #000000;
    font-weight: 800;
}
.box3_top .button{
    width: 27%;
    height: 1.5rem;
    background: url("/assets/images/yi.png")no-repeat;
    background-size: 5rem;
    float: left;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 14px;
    margin-left: 10px;
    text-align: center;
}
.box3_top .bu{
    float: right;
    font-size: 18px;
    color: #ea5529;
    line-height: 50px;
}
.box3 .left{

    width: 49%;
    height: 6rem;

    float: left;
}
.box3 .left span{
    display: block;

}
.box3 .left span:nth-child(1){
    margin-top: 17px;
}
.box3 .left span:nth-child(4){
    margin-top: 30px;
}
.box3 .right{
    color: #000;
    float: right;
    width: 49%;
    height: 1.8rem;


    margin-top: 1.8rem;
    border-left: 1px solid #ccc;
}
.right img{
    float: right;
}
.right span{
line-height: 2rem;
}
.bottom{
    width: 87%;
    height: 4rem;
    margin: 0 auto
}
.bottom span{
    line-height: 4rem;
}

/*.right .r_button{*/
    /*/!*width: 30%;*!/*/
    /*height: 1.5rem;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #4bbcbd;*/
    /*text-align: center;*/
    /*line-height: 1.5rem;*/
    /*color: #4bbcbd;*/
    /*margin-top: 10px;*/
    /*float: right;*/
    /*margin-left: 5px;*/
/*}*/
.right span{
    display: block;

    width: 98%;
    height: 2rem;
    float: right;
}
.right span img{
    margin-top: 10px;
    margin-left: 10px;
}
